astor==0.8.1
certifi==2020.12.5
cycler==0.10.0
grpcio==1.12.1
h5py==2.7.1
Keras==2.3.1
Keras-Applications 
Keras-Preprocessing==1.1.0
keras-rl2==1.0.3
kiwisolver==1.2.0
matplotlib 
mkl-fft==1.2.0
mkl-random==1.1.0
mkl-service==2.3.0
numpy 
olefile==0.46
opencv-python==4.5.2.52
pandas 
Pillow 
protobuf==3.13.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
scikit-learn 
scipy
seaborn 
sip==4.19.24
six==1.15.0
sklearn==0.0
tensorboard==1.14.0
tensorflow==1.14.0
tensorflow-estimator==1.14.0
termcolor==1.1.0
Theano==1.0.5
tornado==6.0.4
UNKNOWN==0.0.0
Werkzeug==1.0.1
wincertstore==0.2
wrapt==1.12.1
