absl-py @ file:///C:/ci/absl-py_1600279486584/work
astor==0.8.1
certifi==2020.12.5
cycler==0.10.0
gast @ file:///tmp/build/80754af9/gast_1597433534803/work
grpcio==1.12.1
h5py==2.7.1
importlib-metadata @ file:///tmp/build/80754af9/importlib-metadata_1602276842396/work
joblib @ file:///tmp/build/80754af9/joblib_1601912903842/work
Keras==2.3.1
Keras-Applications @ file:///tmp/build/80754af9/keras-applications_1594366238411/work
Keras-Preprocessing==1.1.0
keras-rl2==1.0.3
kiwisolver==1.2.0
Markdown @ file:///C:/ci/markdown_1603216561566/work
matplotlib @ file:///C:/ci/matplotlib-base_1597858295275/work
mkl-fft==1.2.0
mkl-random==1.1.0
mkl-service==2.3.0
numpy @ file:///C:/ci/numpy_and_numpy_base_1596233948451/work
olefile==0.46
opencv-python==4.5.2.52
pandas @ file:///C:/ci/pandas_1602088210462/work
Pillow @ file:///C:/ci/pillow_1617386325740/work
protobuf==3.13.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
scikit-learn @ file:///C:/ci/scikit-learn_1598358870446/work
scipy @ file:///C:/ci/scipy_1597675683670/work
seaborn @ file:///tmp/build/80754af9/seaborn_1600553570093/work
sip==4.19.24
six==1.15.0
sklearn==0.0
tensorboard==1.14.0
tensorflow==1.14.0
tensorflow-estimator==1.14.0
termcolor==1.1.0
Theano==1.0.5
threadpoolctl @ file:///tmp/tmp9twdgx9k/threadpoolctl-2.1.0-py3-none-any.whl
tornado==6.0.4
UNKNOWN==0.0.0
Werkzeug==1.0.1
wincertstore==0.2
wrapt==1.12.1
zipp @ file:///tmp/build/80754af9/zipp_1603306325174/work
